{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 2%", "last 2 versions", "not ie <= 9"]
      },
      "useBuiltIns": false
    }]
  ],
  "plugins":[
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
